# Working with Cassandra in Python

Cassandra is a distributed database from Apache that is highly scalable and designed to manage very large amounts of structured data. It provides high availability with no single point of failure. Cassandra offers robust support for clusters spanning multiple datacenters, with asynchronous masterless replication allowing low latency operations for all clients.

This notebook illustrates how to work with Cassandra's basic operations such as creating clusters and loading data, using Python. Cassandra needs to be installed and running in the system. The data for the database is taken from : https://www.kaggle.com/usfundamentals/us-stocks-fundamentals# which contains a combination of three files for US stocks fundamentals.

Lets begin by importing the cassandra module, Cluster as follows

In [1]:
from cassandra.cluster import Cluster

## Create a connection to the cluster

Now lets create a connection to the cluster by creating a cluster object and calling the Cluster command.

The 'Cluster' command expects a list of hosts, so the code below connects to the cluster on 'localhost'.

In [2]:
cluster = Cluster(['localhost'])

Now,'cluster' is an object representing the cluster.

Again, lets create a session variable,reference the cluster variable just created and ask it to give the connection.

In [3]:
session = cluster.connect()

This completes the connection steps.

## Create a keyspace

Keyspace is a top level data structure in Cassandra. To create keyspace, lets use '.execute' command on the session object. This is done making use of CQL (Cassandra Query Language) syntax, very similar to SQL.

In [4]:
session.execute("CREATE KEYSPACE stocks \
                   WITH replication = {'class':'SimpleStrategy', \
                                        'replication_factor':'1'}")

This creates a KEYSPACE called stocks. Now, to tell Cassandra that this is the keyspace that we want to work with,

In [5]:
session.set_keyspace('stocks')

## Creating Tables

This is similar to setting up databases in MySQL or Schemas in Oracle. This is done with session object as follows.

In [6]:
session.execute("""
                  CREATE TABLE company (
                      company_id text,
                      name_latest text,
                      name_previous text,
                      PRIMARY KEY (company_id)
                   )
                """)

The above code creates a 'table' with the name 'company' with 'company_id', 'name_latest', 'name_previous' as columns and primary key as 'comapny_id'.

Also lets create another table 'indicator_by_company'

In [7]:
session.execute("""
                  CREATE TABLE indicator_by_company (
                      company_id text,
                      indicator_id text,
                      yr_2010 bigint,
                      yr_2011 bigint,
                      yr_2012 bigint,
                      yr_2013 bigint,
                      yr_2014 bigint,
                      yr_2015 bigint,
                      yr_2016 bigint,
                      PRIMARY KEY (company_id, indicator_id)
                   )
                """)

Observe that the table above is highly denormalized, and this is a typical pattern that we see in Cassandra. It's called wide table, because it supports this kind of wide-column normalization. 'bigint' supports large integer values.

## Loading data into Cassandra

Lets load data from 'companies.json' file into Cassandra table 'company'.

In [8]:
import json

Open the json file and load data into a variable companies.

In [9]:
with open('companies.json') as f_in:
    companies = json.load(f_in)

This creates a list of dictionaries ,companies.

In [10]:
type(companies)

list

In [11]:
type(companies[0])

dict

Now execute a very simple insert statement to insert one company record into the table 'company' already created.

In [12]:
session.execute(
   """
   INSERT INTO company (company_id, name_latest, name_previous)
   VALUES (%s, %s, %s)
   """,
   ("1000045", "Nicholas Financial Inc", ""))

To check the inserted values,

In [13]:
result_set = session.execute("SELECT * FROM company")
result_set.current_rows

[Row(company_id='1000045', name_latest='Nicholas Financial Inc', name_previous='')]

The data in one row is well inserted. The entire data can be inserted using a for loop as follows.

In [14]:
for company in companies:
    try:
        session.execute(
                           """
                           INSERT INTO company (company_id, name_latest, name_previous)
                           VALUES (%s, %s, %s)
                           """,
                           (company['company_id'],company['name_latest'], company['names_previous']))
    except:
        pass

In [15]:
result_set = session.execute("SELECT * FROM company")
result_set.current_rows

[Row(company_id='1445229', name_latest='Fuer International Inc.', name_previous=None),
 Row(company_id='1376866', name_latest='8888 Acquisition Corp', name_previous=None),
 Row(company_id='76267', name_latest='Park Electrochemical Corp', name_previous=None),
 Row(company_id='1360334', name_latest='Alamo Energy Corp.', name_previous=None),
 Row(company_id='832101', name_latest='Idex Corp /DE/', name_previous=None),
 Row(company_id='1645113', name_latest='Novocure LTD', name_previous=None),
 Row(company_id='1043219', name_latest='Annaly Capital Management Inc', name_previous=None),
 Row(company_id='78003', name_latest='Pfizer Inc', name_previous=None),
 Row(company_id='1396033', name_latest='Lumber Liquidators Holdings, Inc.', name_previous=None),
 Row(company_id='1438945', name_latest='Strike Axe, Inc', name_previous=None),
 Row(company_id='828750', name_latest='GSI Commerce Inc', name_previous=None),
 Row(company_id='1140028', name_latest='Talon Therapeutics, Inc.', name_previous=None),
 Row(company_id='1398488', name_latest='World Mortgage Exchange Group, Inc.', name_previous=None),
 Row(company_id='772406', name_latest='Cirrus Logic Inc', name_previous=None),
 Row(company_id='1088005', name_latest='Nextmart Inc.', name_previous=None),
 Row(company_id='943034', name_latest='Image Sensing Systems Inc', name_previous=None),
 Row(company_id='1620702', name_latest='Terraform Global, Inc.', name_previous=None),
 Row(company_id='96223', name_latest='Leucadia National Corp', name_previous=None),
 Row(company_id='1644406', name_latest='Gores Holdings, Inc.', name_previous=None),
 Row(company_id='1650505', name_latest='ECO Energy Tech Asia, LTD', name_previous=None),
 Row(company_id='98677', name_latest='Tootsie Roll Industries Inc', name_previous=None),
 Row(company_id='708821', name_latest='PAR Technology Corp', name_previous=None),
 Row(company_id='808461', name_latest='General Communication Inc', name_previous=None),
 Row(company_id='1329799', name_latest='Square 1 Financial Inc', name_previous=None),
 Row(company_id='874444', name_latest='Retail Ventures Inc', name_previous=None),
 Row(company_id='1430975', name_latest='Continental Resources Group, Inc.', name_previous=None),
 Row(company_id='728447', name_latest='Minn Shares Inc', name_previous=None),
 Row(company_id='1002047', name_latest='Netapp, Inc.', name_previous=None),
 Row(company_id='787253', name_latest='Natural Alternatives International Inc', name_previous=None),
 Row(company_id='884614', name_latest='UGI Corp /PA/', name_previous=None),
 Row(company_id='65358', name_latest='United Capital Corp /DE/', name_previous=None),
 Row(company_id='1171078', name_latest='Silver Legacy Capital Corp', name_previous=None),
 Row(company_id='1441769', name_latest='Directview Holdings Inc', name_previous=None),
 Row(company_id='1035675', name_latest='Nstar/Ma', name_previous=None),
 Row(company_id='201779', name_latest='Excalibur Industries', name_previous=None),
 Row(company_id='1487623', name_latest='Choice Bancorp, Inc.', name_previous=None),
 Row(company_id='894627', name_latest='Vaalco Energy Inc /DE/', name_previous=None),
 Row(company_id='1463913', name_latest='US Alliance Corp', name_previous=None),
 Row(company_id='1114485', name_latest='Campbell Alternative Asset Trust', name_previous=None),
 Row(company_id='1271245', name_latest='Fremont Michigan Insuracorp Inc', name_previous=None),
 Row(company_id='900017', name_latest='Thomas Group Inc', name_previous=None),
 Row(company_id='1609671', name_latest='Wfrbs Commercial Mortgage Trust 2014-C21', name_previous=None),
 Row(company_id='798081', name_latest='Lakeland Industries Inc', name_previous=None),
 Row(company_id='1301081', name_latest='Pharmasset Inc', name_previous=None),
 Row(company_id='1383084', name_latest='Powershares DB Base Metals Fund', name_previous=None),
 Row(company_id='1476963', name_latest='Heat Biologics, Inc.', name_previous=None),
 Row(company_id='874396', name_latest='Lifetime Brands, Inc', name_previous=None),
 Row(company_id='1546853', name_latest='Skkynet Cloud Systems, Inc.', name_previous=None),
 Row(company_id='1014041', name_latest='SRI Surgical Express Inc', name_previous=None),
 Row(company_id='944130', name_latest='Ministry Partners Investment Company, LLC', name_previous=None),
 Row(company_id='48287', name_latest='HNI Corp', name_previous=None),
 Row(company_id='1417663', name_latest='Sanuwave Health, Inc.', name_previous=None),
 Row(company_id='1390804', name_latest='YCC Holdings LLC', name_previous=None),
 Row(company_id='1273636', name_latest='Applied Genetic Technologies Corp', name_previous=None),
 Row(company_id='1609183', name_latest='CNH Equipment Trust 2014-B', name_previous=None),
 Row(company_id='1076682', name_latest='Majesco Entertainment CO', name_previous=None),
 Row(company_id='728249', name_latest='Interphase Corp', name_previous=None),
 Row(company_id='1405350', name_latest='Xsovt Brands, Inc.', name_previous=None),
 Row(company_id='1161706', name_latest='Competitive Companies Inc', name_previous=None),
 Row(company_id='714530', name_latest='Newbridge Bancorp', name_previous=None),
 Row(company_id='1223112', name_latest='Ada-Es Inc', name_previous=None),
 Row(company_id='1571329', name_latest='Capitala Finance Corp.', name_previous=None),
 Row(company_id='1573279', name_latest='TE Funding LLC', name_previous=None),
 Row(company_id='1374584', name_latest='Geopulse Exploration Inc.', name_previous=None),
 Row(company_id='1484949', name_latest='Jacksonville Bancorp, Inc.', name_previous=None),
 Row(company_id='1488613', name_latest='Foundation Medicine, Inc.', name_previous=None),
 Row(company_id='838875', name_latest='Willamette Valley Vineyards Inc', name_previous=None),
 Row(company_id='56873', name_latest='Kroger CO', name_previous=None),
 Row(company_id='1511079', name_latest='Trident Acquisitions, Inc.', name_previous=None),
 Row(company_id='1455206', name_latest='Rvue Holdings, Inc.', name_previous=None),
 Row(company_id='1080709', name_latest='Arena Pharmaceuticals Inc', name_previous=None),
 Row(company_id='795212', name_latest='Trans World Entertainment Corp', name_previous=None),
 Row(company_id='1516973', name_latest='American Capital Mortgage Investment Corp.', name_previous=None),
 Row(company_id='1017480', name_latest='Hibbett Sports Inc', name_previous=None),
 Row(company_id='1195933', name_latest='Infinity Property & Casualty Corp', name_previous=None),
 Row(company_id='1489039', name_latest='Specialty Contractors, Inc.', name_previous=None),
 Row(company_id='1289636', name_latest='Profire Energy Inc', name_previous=None),
 Row(company_id='1610680', name_latest='Dinoco Oil, Inc', name_previous=None),
 Row(company_id='1471089', name_latest='Manthey Redmond Corp', name_previous=None),
 Row(company_id='1165336', name_latest='NX Global, Inc', name_previous=None),
 Row(company_id='1561894', name_latest='Hannon Armstrong Sustainable Infrastructure Capital, Inc.', name_previous=None),
 Row(company_id='1411342', name_latest='Ellington Financial LLC', name_previous=None),
 Row(company_id='1022225', name_latest='Oplink Communications Inc', name_previous=None),
 Row(company_id='1356576', name_latest='Supernus Pharmaceuticals Inc', name_previous=None),
 Row(company_id='1350073', name_latest='Iconic Brands, Inc.', name_previous=None),
 Row(company_id='1364896', name_latest='Medpro Safety Products, Inc.', name_previous=None),
 Row(company_id='1305294', name_latest='Qlik Technologies Inc', name_previous=None),
 Row(company_id='1493976', name_latest='Kilroy Realty, L.P.', name_previous=None),
 Row(company_id='1081091', name_latest='Studio II Brands Inc', name_previous=None),
 Row(company_id='1504615', name_latest='Santander Drive Auto Receivables Trust 2010-3', name_previous=None),
 Row(company_id='1311824', name_latest='American Express Receivables Financing Corp V LLC', name_previous=None),
 Row(company_id='1229195', name_latest='Horne International, Inc.', name_previous=None),
 Row(company_id='1474042', name_latest='Baltic Trading LTD', name_previous=None),
 Row(company_id='1431938', name_latest='Chocolate Candy Creations, Inc.', name_previous=None),
 Row(company_id='1530217', name_latest='Toyota Auto Receivables 2011-B Owner Trust', name_previous=None),
 Row(company_id='1057083', name_latest='PC TEL Inc', name_previous=None),
 Row(company_id='1261204', name_latest='OBN Holdings Inc', name_previous=None),
 Row(company_id='1415917', name_latest='American Nano Silicon Technologies, Inc.', name_previous=None),
 Row(company_id='801337', name_latest='Webster Financial Corp', name_previous=None),
 Row(company_id='1472635', name_latest='China DU Kang CO. Ltd.', name_previous=None),
 Row(company_id='906780', name_latest='Empire Resorts Inc', name_previous=None),
 Row(company_id='1474098', name_latest='Pebblebrook Hotel Trust', name_previous=None),
 Row(company_id='1432269', name_latest='Mayquest Ventures, Inc.', name_previous=None),
 Row(company_id='3153', name_latest='Alabama Power CO', name_previous=None),
 Row(company_id='1568669', name_latest='Pennymac Financial Services, Inc.', name_previous=None),
 Row(company_id='1100412', name_latest='Array Biopharma Inc', name_previous=None),
 Row(company_id='794170', name_latest='Toll Brothers Inc', name_previous=None),
 Row(company_id='1360474', name_latest='CRC Health Corp', name_previous=None),
 Row(company_id='1523733', name_latest='Petrologistics LP', name_previous=None),
 Row(company_id='1013606', name_latest='Endologix Inc /DE/', name_previous=None),
 Row(company_id='1586468', name_latest='Baristas Coffee Company, Inc.', name_previous=None),
 Row(company_id='1220754', name_latest='Providence Service Corp', name_previous=None),
 Row(company_id='739421', name_latest='Citizens Financial Services Inc', name_previous=None),
 Row(company_id='1662640', name_latest='Franklin Hill Acquisition Corp', name_previous=None),
 Row(company_id='1087456', name_latest='United Bancshares Inc/Oh', name_previous=None),
 Row(company_id='50292', name_latest='IEH Corporation', name_previous=None),
 Row(company_id='1438897', name_latest='Inland Diversified Real Estate Trust, Inc.', name_previous=None),
 Row(company_id='1145197', name_latest='Insulet Corp', name_previous=None),
 Row(company_id='1424768', name_latest='Vycor Medical Inc', name_previous=None),
 Row(company_id='895419', name_latest='Cree Inc', name_previous=None),
 Row(company_id='880417', name_latest='CSB Bancorp Inc /OH', name_previous=None),
 Row(company_id='1163389', name_latest='NEW Peoples Bankshares Inc', name_previous=None),
 Row(company_id='1490017', name_latest='Ford Credit Auto Owner Trust 2010-A', name_previous=None),
 Row(company_id='759458', name_latest='Canandaigua National Corp', name_previous=None),
 Row(company_id='784539', name_latest='Eaco Corp', name_previous=None),
 Row(company_id='1052284', name_latest='Tongli Pharmaceuticals (Usa), Inc.', name_previous=None),
 Row(company_id='828944', name_latest='Wsfs Financial Corp', name_previous=None),
 Row(company_id='1353613', name_latest='Currencyshares Japanese YEN Trust', name_previous=None),
 Row(company_id='1569391', name_latest='KCG Holdings, Inc.', name_previous=None),
 Row(company_id='15511', name_latest='Bnsf Railway CO', name_previous=None),
 Row(company_id='1574969', name_latest='Microphase Corp', name_previous=None),
 Row(company_id='1004702', name_latest='Oceanfirst Financial Corp', name_previous=None),
 Row(company_id='1373690', name_latest='American Paramount Gold Corp.', name_previous=None),
 Row(company_id='1318196', name_latest='Sono Resources, Inc.', name_previous=None),
 Row(company_id='1626971', name_latest='Corvus Pharmaceuticals, Inc.', name_previous=None),
 Row(company_id='1525040', name_latest='American Renal Associates Holdings, Inc.', name_previous=None),
 Row(company_id='1409446', name_latest="Nate'S Food CO.", name_previous=None),
 Row(company_id='772572', name_latest='Edac Technologies Corp', name_previous=None),
 Row(company_id='913885', name_latest='Triquint Semiconductor Inc', name_previous=None),
 Row(company_id='1544670', name_latest='Mercedes-Benz Auto Lease Trust 2012-A', name_previous=None),
 Row(company_id='1504999', name_latest='CNH Equipment Trust 2010-C', name_previous=None),
 Row(company_id='1567852', name_latest='Hedgebrook', name_previous=None),
 Row(company_id='1016504', name_latest='Integrated Biopharma Inc', name_previous=None),
 Row(company_id='884940', name_latest='Stein Mart Inc', name_previous=None),
 Row(company_id='1587732', name_latest='ONE Gas, Inc.', name_previous=None),
 Row(company_id='1543679', name_latest='First State Capital Investments, Inc', name_previous=None),
 Row(company_id='1482876', name_latest='Factorshares 2X: Tbond Bull/S&P500 Bear', name_previous=None),
 Row(company_id='1409431', name_latest='Theron Resource Group', name_previous=None),
 Row(company_id='1058057', name_latest='Marvell Technology Group LTD', name_previous=None),
 Row(company_id='1604119', name_latest='Jpmbb Commercial Mortgage Securities Trust 2014-C19', name_previous=None),
 Row(company_id='1363254', name_latest='Pegasi Energy Resources Corporation.', name_previous=None),
 Row(company_id='1017907', name_latest='First Acceptance Corp /DE/', name_previous=None),
 Row(company_id='1648439', name_latest='Citigroup Commercial Mortgage Trust 2015-P1', name_previous=None),
 Row(company_id='3545', name_latest='Alico Inc', name_previous=None),
 Row(company_id='1090727', name_latest='United Parcel Service Inc', name_previous=None),
 Row(company_id='726728', name_latest='Realty Income Corp', name_previous=None),
 Row(company_id='1567683', name_latest='NRG Yield, Inc.', name_previous=None),
 Row(company_id='1325740', name_latest='Advanced Bioenergy, LLC', name_previous=None),
 Row(company_id='922612', name_latest='Schmitt Industries Inc', name_previous=None),
 Row(company_id='1012771', name_latest='FBL Financial Group Inc', name_previous=None),
 Row(company_id='724445', name_latest='Burzynski Research Institute Inc', name_previous=None),
 Row(company_id='1443824', name_latest='Mondo Acquisition VI, Inc.', name_previous=None),
 Row(company_id='1121716', name_latest='Icon Income Fund Eight B LP', name_previous=None),
 Row(company_id='1144519', name_latest='Bunge LTD', name_previous=None),
 Row(company_id='1061288', name_latest='Australian Canadian OIL Royalties LTD', name_previous=None),
 Row(company_id='1365784', name_latest='Bioshaft Water Technology, Inc.', name_previous=None),
 Row(company_id='1004989', name_latest='Spar Group Inc', name_previous=None),
 Row(company_id='277135', name_latest='Grainger W W Inc', name_previous=None),
 Row(company_id='1580670', name_latest='LGI Homes, Inc.', name_previous=None),
 Row(company_id='1000232', name_latest='Kentucky Bancshares Inc /KY/', name_previous=None),
 Row(company_id='1608298', name_latest='Terrapin 3 Acquisition Corp', name_previous=None),
 Row(company_id='1017793', name_latest='SUN Bancorp Inc /NJ/', name_previous=None),
 Row(company_id='949699', name_latest='Pharmacyclics Inc', name_previous=None),
 Row(company_id='1030484', name_latest='Renaissance Learning Inc', name_previous=None),
 Row(company_id='1592143', name_latest="Cabela'S Master Credit Card Trust", name_previous=None),
 Row(company_id='885725', name_latest='Boston Scientific Corp', name_previous=None),
 Row(company_id='1021422', name_latest='Eastern Light Capital, Inc.', name_previous=None),
 Row(company_id='1001082', name_latest='Dish Network Corp', name_previous=None),
 Row(company_id='1547635', name_latest='Madison County Financial, Inc.', name_previous=None),
 Row(company_id='1360564', name_latest='Focus Gold Corp', name_previous=None),
 Row(company_id='1005177', name_latest='ML Trend-Following Futures Fund L.P.', name_previous=None),
 Row(company_id='70858', name_latest='Bank OF America Corp /DE/', name_previous=None),
 Row(company_id='1478682', name_latest='Empire Post Media, Inc.', name_previous=None),
 Row(company_id='75488', name_latest='Pacific GAS & Electric CO', name_previous=None),
 Row(company_id='1035983', name_latest='Comfort Systems USA Inc', name_previous=None),
 Row(company_id='1585101', name_latest='Hines Global Reit II, Inc.', name_previous=None),
 Row(company_id='1411906', name_latest='Ampio Pharmaceuticals, Inc.', name_previous=None),
 Row(company_id='1087432', name_latest='Intermune Inc', name_previous=None),
 Row(company_id='1495491', name_latest='Healthcare Trust OF America Holdings, LP', name_previous=None),
 Row(company_id='1180079', name_latest='Silver Spring Networks Inc', name_previous=None),
 Row(company_id='1174922', name_latest='Wynn Resorts LTD', name_previous=None),
 Row(company_id='891462', name_latest='Octus Inc', name_previous=None),
 Row(company_id='318833', name_latest='Team Inc', name_previous=None),
 Row(company_id='1647353', name_latest='Ally Auto Receivables Trust 2015-1', name_previous=None),
 Row(company_id='1664127', name_latest='Titan Computer Services Inc.', name_previous=None),
 Row(company_id='1612630', name_latest='Joint Corp', name_previous=None),
 Row(company_id='1337009', name_latest='UAN Cultural & Creative Co., Ltd.', name_previous=None),
 Row(company_id='764630', name_latest='United States Basketball League Inc', name_previous=None),
 Row(company_id='1387467', name_latest='Alpha & Omega Semiconductor LTD', name_previous=None),
 Row(company_id='1333614', name_latest='Razor Resources Inc', name_previous=None),
 Row(company_id='1554947', name_latest='Interups Inc', name_previous=None),
 Row(company_id='1434028', name_latest='Crater Mountain Resources, Inc.', name_previous=None),
 Row(company_id='919013', name_latest='Wave Systems Corp', name_previous=None),
 Row(company_id='64279', name_latest='Mcmoran Exploration CO /DE/', name_previous=None),
 Row(company_id='887247', name_latest='Adamis Pharmaceuticals Corp', name_previous=None),
 Row(company_id='93384', name_latest='Standard Microsystems Corp', name_previous=None),
 Row(company_id='914156', name_latest='UFP Technologies Inc', name_previous=None),
 Row(company_id='1500198', name_latest='Original Source Entertainment, Inc.', name_previous=None),
 Row(company_id='1278680', name_latest='Ishares Gold Trust', name_previous=None),
 Row(company_id='822746', name_latest='Infinity Energy Resources, Inc', name_previous=None),
 Row(company_id='15357', name_latest='Chase General Corp', name_previous=None),
 Row(company_id='66004', name_latest='Middlesex Water CO', name_previous=None),
 Row(company_id='823277', name_latest='CHS Inc', name_previous=None),
 Row(company_id='1377318', name_latest='Hunt Global Resources, Inc.', name_previous=None),
 Row(company_id='731245', name_latest='Presidential Realty Corp/De/', name_previous=None),
 Row(company_id='1221749', name_latest='Regenocell Therapeutics, Inc.', name_previous=None),
 Row(company_id='1089565', name_latest='Legacy Wine & Spirits International Ltd.', name_previous=None),
 Row(company_id='1611547', name_latest='Urban Edge Properties', name_previous=None),
 Row(company_id='1064015', name_latest='Ameritrans Capital Corp', name_previous=None),
 Row(company_id='318300', name_latest='Peoples Bancorp Inc', name_previous=None),
 Row(company_id='1293818', name_latest='Opgen Inc', name_previous=None),
 Row(company_id='1051473', name_latest='Western Reserve Bancorp Inc', name_previous=None),
 Row(company_id='1430124', name_latest='Alto Group Holdings Inc.', name_previous=None),
 Row(company_id='1034592', name_latest='Omnicomm Systems Inc', name_previous=None),
 Row(company_id='1324189', name_latest='Orchids Paper Products CO /DE', name_previous=None),
 Row(company_id='1594420', name_latest='Pentair PLC', name_previous=None),
 Row(company_id='36047', name_latest='Corelogic, Inc.', name_previous=None),
 Row(company_id='1354174', name_latest='SBT Bancorp, Inc.', name_previous=None),
 Row(company_id='1653716', name_latest='World Omni Auto Receivables Trust 2015-B', name_previous=None),

The entire data is now inserted into the table 'company'.  The keyspace 'stocks can be deleted as follows using DROP KEYSPACE.

In [16]:
KEYSPACE = 'stocks'
session.execute("DROP KEYSPACE " + KEYSPACE)

## Cocluding remarks

1. Creating cluster, establishing connections via sessions, creating keyspaces and tables is illustrated.
2. Insertion of data into a table from a json file as well as deletion of keyspace is also shown.